.one{
    color:brown;
}
.imageSection{
    float: right;
    
}
.buttons{
    border:none;
    box-shadow: 1px 2px 3px black;
    border-radius:3px;
    cursor:pointer;
    padding:5px;
}